<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css"
  />

  <title>Home </title>
</head>

<body ng-app="mainApp" ng-controller="HomeController" class="ng-cloak">
  <nav class="full-screen-menu">
    <ul>
      <img src="Icon/Close Blue@2x.png" class="close-button" alt="Close">
      <li>
        <a href="/home.html">Simulate Package Events
          <img src="Icon/Chevron Blue@2x.png" class="float-right">
        </a>
      </li>
    <li>
        <a href="/viewReports.html">View Simulation Results
          <img src="Icon/Chevron Blue@2x.png" class="float-right">
        </a>
      </li>
      <li>
        <a href="/index.html">Log Out
          <img src="Icon/Chevron Blue@2x.png" class="float-right">
        </a>
      </li>
    </ul>
  </nav>
  <header>

    <div class="title">
      POSTAL SETTLEMENT APPLICATION
      <button class="menu-button">
        <img src="Icon/Menu.png" alt="Menu">
      </button>
    </div>
    <div class="user mt-5 pt-3">Country:&nbsp;&nbsp;{{userCountry}}</div>
  </header>
  <div class="container">
    <div class="row options">
      <div class="column img1" data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;">
        <p>Simulate Package Events &nbsp;&nbsp;
          <img src="Icon/Chevron Blue@2x.png">
        </p>
      </div>
      <div class="clearfix"></div>
      <div class="column img2" onclick="window.location.href='/viewReports.html'" style="cursor: pointer;">
        <p>View Simulation Results &nbsp;&nbsp;
          <img src="Icon/Chevron Blue@2x.png">
        </p>
      </div>
    </div>
  </div>
  <footer class="footer pt-3">
    <img src="Icon/Package footer.png" alt="">
    <div class="copyright">
      <p>Copyright © 2018 Accenture.</p>
      <p>All rights reserved.</p>
    </div>
  </footer>

  <!-- Modal start -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form name="modal-from">
            <div class="modal-sections">
              <p>Select Origin and Destination Countries</p>
              <div class="drop-down">
                <select class="origin">
                  <option>Origin</option>
                  <option value="UK">UK (GB)</option>
                  <option value="USA">USA (US)</option>
                  <option value="China">China (CN)</option>
                  <option value="Germany">Germany (DE)</option>
                  <option value="Canada">Canada (CA)</option>
                  <option value="Japan">Japan (JP)</option>
                  <option value="France">France (FR)</option>
                  <option value="Australia">Australia (AUS)</option>
                </select>
                <select class="destination">
                  <option>Destination</option>
                  <option value="UK">UK (GB)</option>
                  <option value="USA">USA (US)</option>
                  <option value="China">China (CN)</option>
                  <option value="Germany">Germany (DE)</option>
                  <option value="Canada">Canada (CA)</option>
                  <option value="Japan">Japan (JP)</option>
                  <option value="France">France (FR)</option>
                  <option value="Australia">Australia (AUS)</option>
                </select>
              </div>
            </div>
            <div class="modal-sections">
              <p>What is the size of the simulation?</p>
              <div class="radio">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="size" class="custom-control-input" ng-model="simulationSize" value="small">
                  <label class="custom-control-label" for="customRadioInline1">Small</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="size" class="custom-control-input" ng-model="simulationSize" value="medium">
                  <label class="custom-control-label" for="customRadioInline2">Medium</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline3" name="size" class="custom-control-input" ng-model="simulationSize" value="large">
                  <label class="custom-control-label" for="customRadioInline3">Large</label>
                </div>
              </div>
            </div>
            <div class="modal-sections border-0">
              <p>Enter the date range for this simulation</p>
              <div class="date-picker">
                <div id="datepicker-to" class="input-group date " data-date-format="mm/dd/yyyy" >
                  <input class="form-control" type="text" readonly ng-model="startDate"  placeholder="MM/DD/YYYY"/> 
                  <span class="input-group-addon"></span>
                </div>
                <p>to</p>
                <div id="datepicker-from" class="input-group date" data-date-format="mm/dd/yyyy">
                  <input class="form-control" type="text" readonly ng-model="endDate" placeholder="MM/DD/YYYY"/>
                  <span class="input-group-addon"></span>
                </div>
              </div>
              <div class="modal-footer justify-content-center" style="border:none">
                <button type="button" class="btn" id="continue-button" ng-disabled="true" ng-click="simulate()">CONTINUE</button>
              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal end -->


  <!-- second model on submit -->
  <div class="modal fade" id="loadModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content load-modal">
        <div class="modal-body">
          <img src="Icon/Package loading@2x.png" alt="package loading">
          <p>Simulating package events…</p>
          <p class="para">This may take some time.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- second modal ends -->

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/nav.js"></script>
  <script src="js/dirPagination.js"></script>
  <script src="js/custom-select.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/homeController.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script>
    $(function () {
      $("#datepicker-from").datepicker({
        endDate: new Date(),
        autoclose: true,
        todayHighlight: true
      }).datepicker('update', new Date());
    });
    $(function () {
      $("#datepicker-to").datepicker({
        endDate: new Date(),
        autoclose: true,
        todayHighlight: true
      }).datepicker('update', new Date());

    });
 
 
    

  </script>
</body>

</html>
